@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

p+p {
  margin-top: 1rem;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  line-height: inherit;
  border: 1px solid currentColor;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  padding: 1px 6px;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl,
ol,
ul {
  margin: 1em 0;
}

ol ol,
ol ul,
ol dl,
ul ol,
ul ul,
ul dl,
dl ol,
dl ul,
dl dl {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

li {
  list-style: none;
}

.wrap {
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
}

.header {
  min-height: 60px;
}

.header .header-title {
  text-align: center;
}

.header .back-link {
  position: fixed;
  top: 25px;
  left: 70px;
  background-color: rgba(0, 128, 96);
  border-radius: 50%;
  width: 95px;
  text-align: center;
  padding: 35px 0;
  z-index: 20;
}

.header .back-link a {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

@media print,
screen and (max-width: 1234px) {
  .header .back-link {
    top: 15px;
    left: 50px;
  }
}

@media print,
screen and (max-width: 768px) {
  .header .back-link {
    top: 10px;
    left: 40px;
    padding: 25px 0;
    width: 70px;

  }

  .header .back-link a {
    font-size: 13px;
  }
}

@media print,
screen and (max-width: 630px) {
  .header .back-link {
    top: 10px;
    width: 55px;
    left: 10px;
    padding: 18px 0;

  }

  .header .back-link a {
    font-size: 12px;
  }
}

@media print,
screen and (max-width: 768px) {
  .header .header-title {
    font-size: 24px;
  }
}

.tabs {
  padding: 0 40px;
  margin-top: 30px;
  padding-bottom: 40px;
  background-color: #fff;
}

.tabs .tab_item {
  width: 16.6666666667%;
  height: 50px;
  border-bottom: 3px solid #008060;
  background-color: #FAFAFA;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

@media print,
screen and (max-width: 1038px) {
  .tabs .tab_item {
    font-size: 12px;
  }
}

@media print,
screen and (max-width: 942px) {
  .tabs .tab_item {
    width: 25%;
  }
}

.tabs .tab_item:hover {
  opacity: 0.75;
}

@media print,
screen and (max-width: 768px) {
  .tabs .tab_item {
    z-index: 2;
    top: 0;
    left: 0;
    color: #565656;
    background: #FAFAFA;
    text-align: center;
    width: 100%;
  }
}

.tabs input[name=tab_item] {
  display: none;
}

.tabs .tab_content {
  display: none;
  padding: 20px 0px 0px;
  clear: both;
  overflow: hidden;
}

.tabs .tab_content .post-item {
  display: inline-block;
  width: 22.2222222222%;
  margin-top: 50px;
}

@media print,
screen and (max-width: 1150px) {
  .tabs .tab_content .post-item {
    width: 20.8333333333%;
  }
}

@media print,
screen and (max-width: 1080px) {
  .tabs .tab_content .post-item {
    width: 47%;
  }
}

@media print,
screen and (max-width: 768px) {
  .tabs .tab_content .post-item {
    width: 100%;
    display: block;
    margin-top: 60px;
  }
}

.tabs .tab_content .post-item+.post-item {
  margin-left: 45px;
}

@media print,
screen and (min-width: 1412px) and (max-width: 1439px) {
  .tabs .tab_content .post-item+.post-item {
    margin-left: 44px;
  }
}

@media print,
screen and (min-width: 968px) and (max-width: 1412px) {
  .tabs .tab_content .post-item+.post-item {
    margin-left: 34px;
  }
}

@media print,
screen and (max-width: 967px) {
  .tabs .tab_content .post-item+.post-item {
    margin-left: 33px;
  }

  .tabs .tab_content .post-item+.post-item:nth-child(2n+1) {
    margin-left: 0px;
  }
}

@media print,
screen and (max-width: 767px) {
  .tabs .tab_content .post-item+.post-item {
    margin-left: 0px;
  }
}

.tabs .tab_content .post-item:nth-child(4n+1) {
  margin-left: 0px;
}

.tabs .tab_content .post-description .title {
  margin-top: 30px;
  margin-left: 15px;
}

.tabs .tab_content .post-description .tag {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.tabs .tab_content .post-description .tag li {
  font-size: 8px;
  margin-top: 8px;
  margin-left: 13px;
  border: 1px solid #d9d9d9;
  padding: 3px 5px;
}

.tabs #all:checked~#all_content,
.tabs #recommend:checked~#recommend_content,
.tabs #art_et:checked~#art_et_content,
.tabs #business:checked~#business_content,
.tabs #apparel:checked~#apparel_content,
.tabs #machine:checked~#machine_content,
.tabs #eat_dr:checked~#eat_dr_content,
.tabs #bike:checked~#bike_content,
.tabs #health:checked~#health_content,
.tabs #home_gr:checked~#home_gr_content,
.tabs #sports_rek:checked~#sports_rek_content,
.tabs #gadget_game:checked~#gadget_game_content {
  display: block;
}

.tabs input:checked+.tab_item {
  background-color: #008060;
  color: #fff;
}

.single-section {
  padding: 60px 30px;
  max-width: 1200px;
  margin: 0 auto;
}

@media print,
screen and (max-width: 1010px) {
  .single-section {
    max-width: 100%;
    padding: 0 30px;
  }
}

@media print,
screen and (max-width: 629px) {
  .single-section {
    padding: 0 20px;
  }
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry {
    margin-top: 40px;
  }
}

.single-section .single-entry .entry {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  overflow: hidden;
}

@media print,
screen and (max-width: 768px) {
  .single-section .single-entry .entry {
    flex-flow: column-reverse;
  }
}

.single-section .single-entry .image-list {
  position: relative;
}

.single-section .single-entry .image-list .single-image {
  position: relative;
  max-height: 100%;
  filter: drop-shadow(-5px 10px 5px rgba(0, 0, 0, 0.25));
  will-change: filter;
  margin-top: 40px;
}

.single-section .single-entry .image-list .single-image img {
  height: 750px;
  width: 650px;
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry .image-list .single-image img {
    height: 540px;
    width: auto;
  }
}

@media print,
screen and (max-width: 768px) {
  .single-section .single-entry .image-list .single-image img {
    width: 100%;
    height: auto;
  }
}

.single-section .single-entry .image-list .iphone-wrapper {
  position: absolute;
  top: 45%;
  right: 0;
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry .image-list .iphone-wrapper {
    top: 56%;
  }
}

@media print,
screen and (max-width: 460px) {
  .single-section .single-entry .image-list .iphone-wrapper {
    top: 42%;
  }
}

.single-section .single-entry .image-list .iphone {
  width: 221px;
  height: 416px;
  position: relative;
  background: url(../img/thema/phone-716ced5761062c175adbaf3192662b6bbb40fc53936e72d279a4c614905e4afd.png);
  background-repeat: no-repeat;
  background-size: 100%;
  filter: drop-shadow(-5px 10px 5px rgba(0, 0, 0, 0.25));
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry .image-list .iphone {
    width: 139px;
    height: 260px;
  }
}

@media print,
screen and (min-width: 630px) and (max-width: 768px) {
  .single-section .single-entry .image-list .iphone {
    width: 178px;
    height: 330px;
  }
}

.single-section .single-entry .image-list .iphone .iphone__screenshot {
  width: 195px;
  height: 338px;
  position: absolute;
  left: 13px;
  top: 43px;
  display: block;
  overflow: hidden;
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry .image-list .iphone .iphone__screenshot {
    width: 113px;
    height: 260px;
    top: 33px;
  }
}

@media print,
screen and (max-width: 768px) {
  .single-section .single-entry .image-list .iphone .iphone__screenshot {
    width: 152px;
    height: 330px;
    top: 40px;
  }
}

@media print,
screen and (max-width: 629px) {
  .single-section .single-entry .image-list .iphone .iphone__screenshot {
    width: 115px;
    height: 330px;
    top: 33px;
  }
}

.single-section .single-entry .article-detail {
  flex: 1;
  margin-top: 40px;
  margin-right: 40px;
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry .article-detail {
    margin-right: 30px;
  }
}


@media print,
screen and (max-width: 768px) {
  .single-section .single-entry .article-detail {
    margin-right: 0px;
  }
}

.single-section .single-entry .article-detail .title {
  display: flex;
  justify-content: space-between;
}

.single-section .single-entry .article-detail .title .textm {
  font-size: 30px;
  font-weight: bold;
  padding-left: 10px;
  width: 100%;
  margin-top: 5%;
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry .article-detail .title .textm {
    font-size: 24px;
  }
}

@media print,
screen and (max-width: 629px) {
  .single-section .single-entry .article-detail .title .textm {
    font-size: 20px;
  }
}

.single-section .single-entry .article-detail .title .demo_link {
  margin-top: 0;
  border: 2px solid #008060;
  background-color: #FAFAFA;
  border-radius: 3px;
  display: inline-block;
  margin-left: 4%;
}

.single-section .single-entry .article-detail .title .demo_link:hover {
  background-color: #008060;
  transition: all 0.3s;
}

@media print,
screen and (max-width: 865px) {
  .single-section .single-entry .article-detail .title .demo_link {
    margin-top: 10px;
  }
}

@media print,
screen and (max-width: 768px) {
  .single-section .single-entry .article-detail .title .demo_link {
    margin-top: 0;
  }
}

.single-section .single-entry .article-detail .title .demo_link a {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px 12px;
  color: #000000;
  display: block;
  width: 100%;
}

.single-section .single-entry .article-detail .title .demo_link a:hover {
  color: #fff;
  transition: all 0.3s;
}

@media print,
screen and (max-width: 768px) {
  .single-section .single-entry .article-detail .title .demo_link a {
    font-size: 12px;
    padding: 10px 12px;
  }
}

.single-section .single-entry .article-detail .price {
  font-size: 24px;
  margin: 30px 10px 0;
}

@media print,
screen and (max-width: 1010px) {
  .single-section .single-entry .article-detail .price {
    font-size: 22px;
  }
}

@media print,
screen and (max-width: 629px) {
  .single-section .single-entry .article-detail .price {
    font-size: 20px;
  }
}

.single-section .single-entry .article-detail .category {
  font-size: 20px;
  padding: 40px 10px 0px;
  margin-bottom: 20px;
}

@media print,
screen and (max-width: 629px) {
  .single-section .single-entry .article-detail .category {
    font-size: 18px;
  }
}

.single-section .single-entry .article-detail ul {
  margin: 10px 0 0;
  list-style: disc;
}

.single-section .single-entry .article-detail ul li {
  margin-top: 10px;
  margin-left: 10px;
}

@media print,
screen and (max-width: 629px) {
  .single-section .single-entry .article-detail ul li {
    font-size: 14px;
  }
}

.single-section .article-content {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  /*ラジオボタンを全て消す*/
}

.single-section .article-content .tab_item {
  width: 33.3333333333%;
  height: 50px;
  border-bottom: 3px solid rgb(0, 128, 96);
  background-color: #FAFAFA;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

@media print,
screen and (max-width: 629px) {
  .single-section .article-content .tab_item {
    font-size: 13px;
  }
}

.single-section .article-content .tab_item:hover {
  opacity: 0.75;
}

.single-section .article-content input[name=tab_item] {
  display: none;
}

.single-section .article-content .tab_content {
  display: none;
  padding: 40px 40px 0px;
  clear: both;
  overflow: hidden;
}

@media print,
screen and (max-width: 1010px) {
  .single-section .article-content .tab_content {
    padding: 30px 20px 0;
  }
}

.single-section .article-content .tab_content .tab_content_description {
  min-height: 300px;
  line-height: 30px;
}

@media print,
screen and (max-width: 945px) {
  .single-section .article-content .tab_content .tab_content_description {
    min-height: 430px;
  }
}

.single-section .article-content .tab_content .tab_content_description ul li {
  margin-top: 30px;
}

@media print,
screen and (max-width: 629px) {
  .single-section .article-content .tab_content .tab_content_description ul li {
    font-size: 12px;
  }
}

.single-section .article-content .tab_content .tab_content_description .function-list {
  display: flex;
  flex-wrap: wrap;
}

.single-section .article-content .tab_content .tab_content_description .function-list li {
  padding-left: 30px;
}

.single-section .article-content #feature:checked~#feature_content,
.single-section .article-content #function:checked~#function_content,
.single-section .article-content #case_study:checked~#case_study_content {
  display: block;
}

.single-section .article-content input:checked+.tab_item {
  background-color: rgb(0, 128, 96);
  color: #fff;
}

.tabs .tab_content .post-description .tag .feature {
  border: 2px solid #008060;
}

/*# sourceMappingURL=style.css.map */